.categories {
  margin-bottom: 80px;
}

.categories .section-title {
  width: 312px;
  margin: 0 auto;
}

.categories-cards {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-cards a.cards {
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  padding: 24px;
  border-radius: 8px;
}

.categories-cards h3 {
  font-size: 28px;
  font-weight: var(--titles-weight);
}

.categories-cards .cards.single-line {
  padding-top: 50px;
}

.categories-cards .cards.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories .section-title {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards a.cards {
    width: 480px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards a.cards {
    width: 280px;
  }
}
