.popular-destinations .item header {
  display: block;
  background-color: transparent;
  position: relative;
  font-size: 20px;
  font-weight: var(--texts-weight);
  padding: 0;
  margin-bottom: 24px;
}