:root {
    --backgroun-primary-color: #fff;
    --backgroun-secondary-color: #f5f5f5;
    --backgroun-tertiary-color: #000;
            
    --button-primary-color: #8f0101;
    --button-secondary-color: #b81515;

    --text-primary-color: #222222;
    --text-secondary-color: #fff;

}

/*CSS RESET*/
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

