@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --backgroun-primary-color: #fff;
    --backgroun-secondary-color: #f5f5f5;
    --backgroun-tertiary-color: #000;
            
    --primary-color: #8f0101;
    --secondary-color: #b81515;

    --text-primary-color: #222222;
    --text-secondary-color: #fff;

    --titles-weight: 700;
    --texts-weight: 400;
    --menu-texts-weight: 500;

}

/*CSS RESET*/
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

